main{
    background-image: url(../images/pineBackground.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    height: auto;
}



header{
    box-shadow: 0px 0px 5px 3px gray;
}

.gallery{
    width:25%;
    height: auto;
}

img:hover{
    transform:scale(1.10);
    cursor:pointer;
   box-shadow: 3px 3px 3px rgba(0,0,0,.5);
  transition:all 1s ease;
}

/* video{
    max-width: 50%;
    height: auto;
} */

.logo:hover{
    transition: none;
    transform: none;
    box-shadow: none;
}